  .dropdown {
    position: relative;
    display: flex;
    width: 100%; /* Hace que el dropdown ocupe todo el ancho de la página */
    text-align: center; /* Alinea el texto de las opciones a la izquierda */
  }
  
  .dropdown.open .dropdown-content {
    /*display: block; Muestra el contenido del dropdown cuando está abierto */
    display: grid; /* Cambia el modo de visualización a grid cuando está abierto */
    grid-template-columns: repeat(4, 1fr); /* Crea 4 columnas de igual tamaño */
    grid-gap: 10px; /* Espacio entre las celdas */
  }
  
  .dropdown button {
    background: #3498db;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%; /* Hace que el botón ocupe todo el ancho del dropdown */
    text-align: left; /* Alinea el texto del botón a la izquierda */
  }
  
  .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 1px solid #ddd;
    width: 100%; /* Hace que el contenido del dropdown ocupe todo el ancho */
    display: none; /* Inicialmente oculta el contenido del dropdown */
  }
  
  .dropdown-option {
    padding: 10px;
    color: #333;
  }
  
  .dropdown-option:hover {
    background: #574c4c;
  }
  