.dropdown {
  display: flex;
  position: relative;
  align-items: center;
}

.dropdown button {
  font-size: 16px;
  color: white;
  background-color: transparent;
  border: none;
  margin-top: 18px;
  margin-right: 48px;

  &:hover {
    font-weight: bold; /* Cambia el peso de fuente a negrita en hover */
  }

}


.dropdown_content{
  position: fixed;
  width: 100%;
  left: 15px;
  max-width: 1320px;
  top: 13.8281px;

  z-index: 1;
  background-color: rgba(240, 45, 45, 0.596);
  display: flex;
  align-self: center;
  justify-content: space-between;
  margin-top: 80px;
  margin-right: 10px;
}


.column{
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 2px;
  margin-bottom: 2px;

  display: flex; /* Establece el contenedor de columna como flex */
  flex-direction: column; /* Apila elementos verticalmente */
  align-items: flex-start; /* Centra los elementos verticalmente */
}

.column h1{
  font-size: 18px;
}

.column ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0; /* Elimina el espacio de relleno predeterminado de la lista */
}

.column ul li{
  list-style: none;
  align-self: flex-start;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}