.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    height: 100px;
  }
  
  .logo {
    font-size: 26px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .search {
    display: flex;
    align-items: center;
  }
  
  .search input {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .search button {
    padding: 6px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search button:hover {
    background-color: #0056b3;
  }
  

  .textoNavbar{
    font-size: 25px;
    margin-left: 40px;
    margin-right: 40px;
  }


  